<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<event name="item:saved">
				<handler type="Sitecore.SharedSource.Contextualizer.CustomSitecore.Events.ClearContextualMenuCache, Sitecore.SharedSource.Contextualizer" method="OnItemSaved" />
			</event>
		</events>
		<pipelines>
			<getQueryState>
				<processor type="Sitecore.SharedSource.Contextualizer.CustomSitecore.Pipelines.FilterMenuItems, Sitecore.SharedSource.Contextualizer" />
			</getQueryState>
		</pipelines>
	</sitecore>
</configuration>
